@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global variables */
:root {
  --primary: #12bdff; /* Main color */
  --primary-hover: #0c8ec2; /* Hover effect color */
  --dark-primary: #1b1f24; /* Dark background color */
  --light-bg: #22282f; /* Light background for sections */
  --text-light: #fff; /* Light text color */
  --text-dark: #c4c4c4; /* Light gray text color */
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-primary);
  color: var(--text-light);
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-primary);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header .logo {
  color: var(--primary);
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 30px;
}

header ul li a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

header button {
  background-color: transparent;
  color: var(--text-light);
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--primary);
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
}

header button:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Hero Section */
section.hero-section {
  background-color: var(--light-bg);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 120px 50px 40px;
}

.hero-section__title {
  font-size: 48px;
}

.hero-section__title span {
  color: var(--primary);
}

.hero-section__desc {
  color: var(--text-dark);
  font-size: 18px;
}

.hero-section h4 {
  font-size: 20px;
}

.hero-section div {
  max-width: 600px;
}

/* About Section */
section.about-section {
  background-color: var(--light-bg);
  color: var(--text-light);
  padding: 60px 120px;
}

.about-content h2 {
  font-size: 33px;
}

.about-content h2 > span {
  color: var(--primary);
}

.about-content dl {
  margin-top: 20px;
}

.about-content dt {
  font-weight: 600;
}

.about-content dd {
  margin-bottom: 10px;
}

.about-content ul {
  margin-top: 20px;
}

.about-content ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Projects Section */
section.projects-section {
  background-color: var(--dark-primary);
  color: var(--text-light);
  padding: 50px 120px;
  text-align: center;
}

.projects-section h2 {
  font-size: 28px;
}

.projects-section h2 > span {
  color: var(--primary);
}

.project-card {
  background-color: var(--light-bg);
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  color: var(--text-dark);
  font-size: 16px;
}

/* Footer */
footer {
  background-color: var(--dark-primary);
  color: var(--text-dark);
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

/* Media queries */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header .logo {
    margin: auto;
  }

  header ul {
    margin-top: 10px;
  }

  /* Hero Section */
  section.hero-section {
    flex-direction: column;
    padding: 40px;
    padding-top: 130px;
  }

  /* About Section */
  section.about-section {
    flex-direction: column;
    padding: 40px;
  }

  .about-content {
    margin-left: 0;
    margin-top: 30px;
  }

  /* Projects Section */
  section.projects-section {
    padding: 40px;
  }

  .projects-cards {
    margin-top: 15px;
    flex-direction: column;
  }

  .projects-card-box {
    width: 100%;
    margin: 10px 0;
  }
}
