@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global variables */
:root {
  --primary: #12bdff;
  --primary-hover: #0c8ec2;
  --dark-primary: #1b1f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

header.dark-mode {
    background-color: #333;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #007BFF;
}

#darkModeToggle {
    background-color: transparent;
    border: 1px solid #333;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

#darkModeToggle:hover {
    background-color: #444;
    color: white;
}

.hero-section {
    background-color: #007BFF;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero-section__title {
    font-size: 3em;
}

.hero-section__desc {
    font-size: 1.2em;
}

.about-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-section ul li {
    margin: 10px 0;
}

.projects-section {
    padding: 50px 20px;
}

.project-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

a.dark-mode {
    color: white;
}

header.dark-mode {
    background-color: #333;
}

.project-card.dark-mode {
    background-color: #444;
    border-color: #555;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    .hero-section__title {
        font-size: 2.5em;
    }

    .hero-section__desc {
        font-size: 1.1em;
    }
}
